#page {
	max-width:70%;
}
#branding {
	display: none;
}
.row {
	max-width: 100%;
}
.red {
	background: rgb(255, 70, 70);
	color: white !important;
}
.yellow {
	background: rgb(255, 255, 150);
}
.gray {
	background: #eaeaea;
}